<form action="/call" method="POST" class="form-inline">
<div class="input-group" style="width:100%">
      <input name="phone_number" placeholder="Number to call back from <%=env['warden'].user.phone_number%>" class="form-control" value="+12522569207" >
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default">Call</button>
      </span>
    </div>
</form>
